.App {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: larger;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 60px repeat(5, 75px);
  width: 600px;
  background-color: rgb(0, 18, 25);
  background-color: #98c1d9;
  background-color: #669bbc;
  background-color: #d0ebe5;
  border-radius: 15px;
  color: rgb(0, 18, 25);
  box-sizing: border-box;
}
.container > div {
  display: flex;
  align-items: center;
  cursor: default;
}
.number,
.dot,
.clear {
  justify-content: center;
}
.number:hover,
.dot:hover,
.clear:hover {
  background-color: #b1dbd2;
}
.result {
  grid-column: 1 / span 4;
  justify-content: end;
  padding-right: 20px;
}

.display {
  grid-column: 1 / 5;
  justify-content: end;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.6);
  margin: 10px;
  padding-right: 20px;
}
.equal {
  grid-column: 4/5;
  grid-row: 4/8;
  background-color: #00132f;
  color: white;
  justify-content: center;
}
.operator {
  background-color: #00132f;
  color: white;
  justify-content: center;
}
.operator:hover,
.equal:hover {
  background-color: rgb(4, 23, 31);
  background-color: #061c3d;
}
